<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BlockChain</title>

	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/datepicker3.css'%}">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js'%}"></script>
	<script src="{% static 'js/html5shiv.js'%}"></script>
	<![endif]-->
</head>
<body>


<script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script src="{% static 'js/chart.min.js'%}"></script>
	<script src="{% static 'js/chart-data.js'%}"></script>
	<script src="{% static 'js/easypiechart.js'%}"></script>
	<script src="{% static 'js/easypiechart-data.js'%}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
	<script src="{% static 'js/custom.js'%}"></script>
</body>
</html>